*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}
.content{
    margin-top: 100px;
    position: relative;
    height: 800px;
    width: 100%;
}
.box, .box2, .box3{
    margin-top: 100px;
    position: relative;
    height: 800px;
    width: 100%;
}
.redboy, .earth, .moonSEA, .smile2{
    opacity: 0;
    position: absolute;
    transition: all 0.9s;
    height: 100%;
}
.boy, .moon, .moon1, .smile1{
    opacity: 1;
    position: absolute;
    transition: all 0.9s;
    height: 100%;
}

/* .earth{
    opacity: 0;
    position: absolute;
    transition: all 0.9s;
}
.moon{
    opacity: 1;
    position: absolute;
    transition: all 0.9s;
}
.earth:hover{
    opacity: 0;
}
.moon:hover{
    opacity: 1;
} */
.boy:hover{
    opacity: 0;
}
.redboy:hover{
    opacity: 1;
}

.earth:hover{
    opacity: 1;
}
.moon:hover{
    opacity: 0;
}

.moon1:hover{
    opacity: 0;
}
.moonSEA:hover{
    opacity: 1;
}
.smile1:hover{
    opacity: 0;
}
.smile2:hover{
    opacity: 1;
}