*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: black;
}
.container{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}
.header__container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
}
.content{
    margin-top: 100px;
    position: relative;
    height: 800px;
}
.box, .box2, .box3, .box4, .box5{
    margin-top: 100px;
    position: relative;
    height: 800px;
}
.redboy, .earth, .moonSEA, .smile2, .wings, .hands{
    opacity: 0;
    position: absolute;
    transition: all 0.9s;
    height: 100%;
}
.boy, .moon, .moon1, .smile1, .nowings, .BlackHand{
    opacity: 1;
    position: absolute;
    transition: all 0.9s;
    height: 100%;
}

/* .earth{
    opacity: 0;
    position: absolute;
    transition: all 0.9s;
}
.moon{
    opacity: 1;
    position: absolute;
    transition: all 0.9s;
}
.earth:hover{
    opacity: 0;
}
.moon:hover{
    opacity: 1;
} */
.BlackHand:hover{
    opacity: 0;
}
.hands:hover{
    opacity: 1;
}
.nowings:hover{
    opacity: 0;
}
.wings:hover{
    opacity: 1;
}
.boy:hover{
    opacity: 0;
}
.redboy:hover{
    opacity: 1;
}

.earth:hover{
    opacity: 1;
}
.moon:hover{
    opacity: 0;
}

.moon1:hover{
    opacity: 0;
}
.moonSEA:hover{
    opacity: 1;
}
.smile1:hover{
    opacity: 0;
}
.smile2:hover{
    opacity: 1;
}
/* MEIDA start*/

@media (max-width:1200px) {
    .header__container{
        grid-template-columns: repeat(2,2fr);
    }
    
}
@media (max-width:800px) {
    .header__container{
        grid-template-columns: repeat(1,4fr);
    }
}


/* Media end */